{% extends "layout.html" %}
     {%block content%}
     
     <div class="content-section">
     	<form method="POST" action="">
 {{form.hidden_tag()}}

<fieldset class="form-group"> 

<legend class="border-bottom mb-4" > {{legend}}</legend>


<div class="form-group">
	{{form.title.label(class="form-control-label")}}
	{% if form.title.errors %}
{{form.title(class="form-control form-control-lg is-invalid")}}
<div class="invalid-feedback"> 
{% for error in form.title.errors %}
<span> {{ error }}</span>

{%endfor%}



 </div>
 {% else %}
 {{form.title(class="form-control form-control-lg")}}
{%endif%}



</div>

<div class="form-group">
	{{form.content.label(class="form-control-label")}}
	{% if form.content.errors %}
{{form.content(class="form-control form-control-lg is-invalid")}}
<div class="invalid-feedback"> 
{% for error in form.content.errors %}
<span> {{ error }}</span>

{%endfor%}



 </div>
 {% else %}
 {{form.content(class="form-control form-control-lg")}}
{%endif%}









</fieldset>
<div class="form-group">
	{{form.submit(class="btn btn-outline-info")}}

	</div>

	<small class="text-muted ml-2"> <a href="#"> </a> </small>

   </form>

   <div class="border-top pt-3">

   
    {% endblock %}

   