{% extends "layout.html" %}
{% block content %}
  <table class="table table-hover table-dark">
    <thead>
     
        <tr>
            <!-- Your Columns HERE -->
            <th scope="col">Title</th>
             <th scope="col">Content</th>
             <th scope="col">Author </th>
             <th scope="col"> Date  </th>
              {% if post.author==current_user %}
             <th scope="col"> </th>
               {% endif %}...
            
    <tbody>
        <!-- Your rows inside the table HERE: -->
    
        <tr>
                
                  
                <td> {{post.title}}</td>
                <td>{{post.content}}</td>
                <td> {{post.author.username}} </td> 
                <td> {{post.date_posted.strftime('%Y-%m-%d')}} </td>
                {% if post.author==current_user %}
                <td> <a class="btn btn-secondary btn-sm m-1" href="{{url_for('posts.update_post',post_id=post.id)}}"> Update </a> <button data-toggle="modal" data-target="#exampleModalCenter"

                type="button" class="btn btn-danger btn-sm m-1">  Delete </button>      </td>
                {% endif %}

                


               
                
            </tr>
    

    </tbody>


</table>
<!-- Modal -->
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       <form action="{{url_for('posts.delete_post',post_id=post.id)}}" method="POST">
<input class=" btn btn-danger"  type="submit" value="Delete" >
       </form> 
      </div>
    </div>
  </div>
</div>
{% endblock %}
