{% extends "layout.html" %}
     {%block content%}
     <div class="content-section">
     	<form method="POST" action="">
 {{form.hidden_tag()}}

<fieldset class="form-group"> 

<legend class="border-bottom mb-4" > Reset Password </legend>


<div class="form-group">
	{{form.email.label(class="form-control-label")}}
	{% if form.email.errors %}
{{form.email(class="form-control form-control-lg is-invalid")}}
<div class="invalid-feedback"> 
{% for error in form.email.errors %}
<span> {{ error }}</span>

{%endfor%}



 </div>
 {% else %}
 {{form.email(class="form-control form-control-lg")}}
{%endif%}

</fieldset>
<div class="form-group">
	{{form.submit(class="btn btn-outline-info")}}

	</div>

	<small class="text-muted ml-2"> <a href="#"> </a> </small>

   </form>



   </div>
    {% endblock %}

   