

<!DOCTYPE html>
<html>
<head>
	
</head>
<body>

		<form method="POST" action="">
		 {{form.hidden_tag()}}
	
		{{ form.dega}}
		{{form.lendet}}
		{{form.title}}
		{{form.submit}}
	</form>



<script type="text/javascript">
	

let a=document.getE

</script>
</body>
</html>
