{% extends "layout.html" %}
{% block content %}
<h1 class="mb-3">Posts by {{user.username}} ({{items.total}}) </h1>
  <table class="table table-hover table-dark">
    <thead>
        <tr>
            <!-- Your Columns HERE -->
            <th scope="col">Title</th>
             <th scope="col">Content</th>
             <th scope="col">Author </th>
             <th scope="col"> Date  </th>
             <th scope="col"> </th>
    </thead>
    <tbody>
        <!-- Your rows inside the table HERE: -->
        {% for item in items.items %}
        <tr>
                <td>   <a class="mr-2" href="{{url_for('users.user_posts',username=item.author.username)}}">{{item.author.username}}  </a>   </td>            
                <td> <a class="mr-2" href="{{url_for('posts.post',post_id=item.id)}}"> {{item.title}} </a> </td>
                <td>{{item.content}}</td>
                <td> {{item.date_posted.strftime('%Y-%m-%d')}} </td>
                <td> <img style="width:20px;border-radius:2px;" src="{{  url_for('static',filename='profile_pics/'+ item.author.image_file) }}" > </td>


               
                
            </tr>
        {% endfor %}
       

    </tbody>


</table>
 {% for page_num in items.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
        {%if page_num %}
        {%if items.page==page_num %}

        <a class="btn btn-info mb-4" href="{{url_for('users.user_posts',username=user.username, page=page_num)}}">{{page_num}} </a>
        {% else %}
 <a class="btn btn-outline-info mb-4" href="{{url_for('users.user_posts',username=user.username,page=page_num)}}">{{page_num}} </a>
        {%endif%}
        {%else%}




        {%endif%}






        {%endfor%}
{% endblock %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
   